        <div class="col-lg-12">
        <div class="well">
            <h2 class="text-center">About Us</h2>
            <p class="text-center">Welcome to Dev Match. We are a community of developers,
    entrepreneurs, and investors who are interested in meeting one another and sharing ideas.</p>
        </div>
    </div>