//####app/assets/stylesheets/application.css (renamed to ->) app/assets/stylesheets/application.css.scss
@import "bootstrap-sprockets";
@import "bootstrap";

//adds font-awesome
@import "font-awesome-sprockets";
@import "font-awesome";

//gradient from http://uigradients.com/
body{
    
background: #525252; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}